@import '../../style-settings';

form {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
}

input {
  border: none;
  border-radius: 1.5rem 0 0 1.5rem;
  color: $color-very-dark-gray;
  font-size: 2rem;
  height: 6rem;
  outline: none;
  padding: 1rem 2.5rem;
  width: 100%;
}

button {
  background-color: $color-very-dark-gray;
  border: none;
  border-radius: 0 1.5rem 1.5rem 0;
  height: 6rem;
  width: 6rem;
}
