@import "./style-settings";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  //width: 100vw;
  //height: 250vh;
  background: url("../assets/images/pattern-bg.png");
}

body {
  font-size: $font-body;
  font-family: $font-family;
  color: $color-very-dark-gray;
}
