@import '../../node_modules/normalize.css/normalize.css';
@import './style-settings';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  //width: 100vw;
  //height: 250vh;
  background: url('../assets/images/pattern-bg.png');
  font-size: $font-size;
}

body {
  color: $color-very-dark-gray;
  font-family: $font-family;
  font-size: $font-body;
}
