@import '../../style-settings';

//.flex {
//  display: flex;
//  justify-content: center;
//}

h1 {
  color: #fff;
  font-size: 2.75rem;
  font-weight: $font-weight-medium;
  margin: 3rem 0;
  text-align: center;
}
