@import '../../style-settings';

.result {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  text-align: center;
}

.result--label {
  color: $color-dark-gray;
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.result--value {
  font-size: 2rem;
  font-weight: $font-weight-medium;
}
