$breakpoint-desktop: 375px;
$breakpoint-mobile: 1440px;

$color-very-dark-gray: hsl(0, 0%, 17%);
$color-dark-gray: hsl(0, 0%, 59%);

$font-size: 10px;
$font-body: 1.8rem;

$font-family: 'Rubik', sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
